/* forgot password page start */
main {
  padding-top: 100px;
}

main.forgot-password div.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

/* forgot-password-block section start */

main.forgot-password section.forgot-password-block {
  background: #212529;
  border-radius: 5px;
  position: relative;
  width: 100%;
  padding: 50px 15px;
}

main.forgot-password section.forgot-password-block span.login-key {
  background: url('../images/login/login-sprite.png') no-repeat center center;
  background-position: 0 0;
  width: 70px;
  height: 55px;
  display: inline-block;
  position: absolute;
  top: -30px;
  background-size: 150px auto;
}

main.forgot-password section.forgot-password-block span.login-key::before {
  content: "";
  background: url('../images/login/login-sprite.png') no-repeat center center;
  background-position: -105px 0;
  width: 31px;
  height: 26px;
  position: absolute;
  left: 15px;
  bottom: 10px;
  background-size: 150px auto;
}

main.forgot-password section.forgot-password-block div.forgot-password-fields {
  display: flex;
  flex-direction: column;
}

main.forgot-password section.forgot-password-block div.forgot-password-fields ul li {
  color: var(--validation-red);
}

main.forgot-password section.forgot-password-block div.forgot-password-fields div.description {
  margin-bottom: 20px;
}

main.forgot-password section.forgot-password-block div.forgot-password-fields div.email-field {
  margin-bottom: 30px;
}

main.forgot-password section.forgot-password-block div.forgot-password-fields span {
  color: var(--validate-red);
}

main.forgot-password section.forgot-password-block div.forgot-password-fields .send-reset-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
}

/* forgot-password-block section end */

/* desktop styles start */

@media only screen and (min-width: 1000px) {
  main.forgot-password div.row {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  /* forgot-password-block section start */

  /*main.forgot-password section.forgot-password-block {
    width: 50%;
    padding: 100px 15px;
  }*/

  main.forgot-password section.forgot-password-block span.login-key {
    width: 91px;
    height: 71px;
    left: -20px;
    top: 15px;
    background-size: auto;
  }

  main.forgot-password section.forgot-password-block span.login-key::before {
    background-position: -143px 0;
    width: 37px;
    height: 32px;
    left: 23px;
    bottom: 13px;
    background-size: auto;
  }

  main.forgot-password section.forgot-password-block div.forgot-password-fields {
    width: 75%;
    margin: 0 auto;
  }

  main.forgot-password section.forgot-password-block div.forgot-password-fields .send-reset-btn {
    font-size: 22px;
    line-height: 46px;
    padding: 0px 35px;
  }

  main.forgot-password section.forgot-password-block div.forgot-password-fields .send-reset-btn {
    font-size: 18px;
    line-height: 46px;
    padding: 0 25px;
  }


  /* forgot-password-block section end */
}

/* desktop styles end */

/* forgot password page end */