/* general styles start */

section {
  margin-bottom: 50px;
}

.content-wrapper {
  width: 100%;
  padding: 0 30px;
  max-width: 1690px;
  margin: 0 auto;
}

/* general styles end */

/* login page start */

main {
  padding-top: 100px;
}

main.login div.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

/* login-block section start */

main.login section.login-block {
  display: flex;
  flex-direction: column;
  background: #212529;
  border-radius: 5px;
  position: relative;
  width: 100%;
  padding: 50px 15px;
}

main.login section.login-block span.login-key {
  background: url('../images/login/login-sprite.png') no-repeat center center;
  background-position: 0 0;
  width: 91px;
  height: 71px;
  display: inline-block;
  position: relative;
  top: -5px;
  left: 15px;
  background-size: auto;
  top: -35px;
}

main.login section.login-block span.login-key::before {
  content: "";
  background: url('../images/login/login-sprite.png') no-repeat center center;
  background-position: -143px 0;
  width: 37px;
  height: 32px;
  position: absolute;
  left: 23px;
  bottom: 13px;
}

main.login section.login-block div.login-fields {
  display: flex;
  flex-direction: column;
}

/* login-block section end */

/* image-block section start */

main.login section.image-block div.testing-image img {
  width: 100%;
}

/* image-block section end */

/* desktop styles start */

/* login row start */

@media only screen and (min-width: 1000px) {
  section {
    margin-bottom: 0px;
  }
  
  main.login div.row {
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
  }

  /* login-block section start */

  main.login section.login-block {
    width: 50%;
  }

  /* login-block section end */

  /* image-block section start */

  main.login section.image-block {
    width: 50%;
  }

  /* image-block section end */
}

/* login row end */

/* desktop styles end */

/* login page end */
