/* transaction history navbar styles start */
nav.transaction-history-nav {
  margin-bottom: 20px;
}


nav.transaction-history-nav .nav-link {
  color: var(--white);
}

nav.transaction-history-nav .nav-link:hover {
  color: var(--green);
  transition: all 0.3s ease-in-out; /* Animation transition */
}

nav.transaction-history-nav .nav-link.active {
  font-weight: 700;
}

nav.transaction-history-nav .nav-link:hover {
  color: var(--green);
}

nav.transaction-history-nav .nav-link {
  color: var(--white); /* Set initial text color to white */
  position: relative; /* Position relative to contain pseudo-element */
}

nav.transaction-history-nav .nav-link::before {
  content: ''; /* Create a pseudo-element */
  position: absolute; /* Position relative to parent link */
  width: 100%; /* Full width */
  height: 1px; /* Underline thickness */
  bottom: 0; /* Align at the bottom */
  left: 0; /* Align at the left */
  background-color: var(--green); /* Underline color */
  visibility: hidden; /* Initially hidden */
  transform: scaleX(0); /* Initially scaled to 0 width */
  transition: all 0.3s ease-in-out; /* Animation transition */
}

nav.transaction-history-nav .nav-link:hover::before {
  visibility: visible; /* Make the underline visible on hover */
  transform: scaleX(1); /* Expand the underline to full width */
}

/*underline for active link*/
nav.transaction-history-nav a.nav-link.active::before {
  content: ''; /* Create a pseudo-element */
  position: absolute; /* Position relative to parent link */
  width: 100%; /* Full width */
  height: 1px; /* Underline thickness */
  bottom: 0; /* Align at the bottom */
  left: 0; /* Align at the left */
  background-color: var(--green); /* Underline color */
  visibility: visible;
  transform: scaleX(0.5);
}

/* transaction history navbar styles end */

/* tab-content styles start */

main.transaction-history div.tab-container div.tab-content div.card {
  border-color: var(--ticket-grey);
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body,
main.transaction-history div.tab-container div.tab-content div.card div.card-footer {
  background-color: var(--ticket-grey);
  border-color: var(--white);
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-title,
main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-text {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-title {
  margin-bottom: 30px;
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-title p {
  font-size: 14px;
  margin-bottom: 0px;
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-title .movie-name, 
main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-title .movie-classification {
  margin-right: 10px;
  margin-bottom: 0px;
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-text {
  margin-bottom: 20px;
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-text p {
  margin-bottom: 0px;
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-text div.with-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

main.transaction-history div.tab-container div.tab-content div.card div.card-body div.more-info-btn-container {
  display: flex;
  justify-content: flex-end;
}

/* tab-content styles end */

/* desktop styles start */
@media only screen and (min-width: 1000px) {
  /* tab-content styles start */

  main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-title,
  main.transaction-history div.tab-container div.tab-content div.card div.card-body div.card-text {
    gap: 20px;
  }

  /* tab-content styles end */
}
/* desktop styles end */