:root {
    --green: #6ae500;
    --white: #ffffff;
    --creamwhite: #fcfbf4;
    --darkgray: #555555;
    --lightbrown: #a69986;
    --lightgray-transparent: rgba(245,242,235,0.7);
    --lightgray: rgba(245,242,235);
}

body {
    background-color: var(--creamwhite);
    color: var(--lightbrown);
    padding-top: 100px; /* Add padding to the top of the body to accommodate the fixed navbar */
}

/* Apply underline on hover with animation only for navigation links */
.navbar-nav .nav-link {
    font-size: 16px;
    color: var(--darkgray); /* Set initial text color to white */
    position: relative; /* Position relative to contain pseudo-element */
}

.navbar {
    background-color: var(--lightgray); /* Set the navbar background color to light gray transparent */
}

.navbar-nav .nav-link::before {
    content: ''; /* Create a pseudo-element */
    position: absolute; /* Position relative to parent link */
    width: 100%; /* Full width */
    height: 1px; /* Underline thickness */
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align at the left */
    background-color: var(--green); /* Underline color */
    visibility: hidden; /* Initially hidden */
    transform: scaleX(0); /* Initially scaled to 0 width */
    transition: all 0.3s ease-in-out; /* Animation transition */
    margin-bottom: 100px;
}

.navbar-nav .nav-link:hover::before {
    visibility: visible; /* Make the underline visible on hover */
    transform: scaleX(1); /* Expand the underline to full width */
}

.navbar-nav .nav-link:hover {
    color: var(--green); /* Change text color to green on hover */
}



/* Fix the navbar at the top */
.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it appears above other elements */
}

.footer-link {
    color: var(--white);
}

    .footer-link:hover {
        color: var(--green);
    }

.heading4 {
    font-size: 18px;
    font-weight: bold;
    color: var(--darkgray);
    text-transform: uppercase;
    margin-bottom: 10px;
}


.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}


.fa-facebook {
    color: #3B5998;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-instagram {
    color: #a52eb9;
}

.active-link {
    color: var(--green) !important; /* Change text color to green */
}

.container-fluid {
    padding-right:30px;
    width: calc(80vw);
    max-width:1400px;
}


.btnLogout {
    background-color: var(--green);
    color: black;
}